contracts/node_modules
node_modules
build
.git
!.git/refs/heads
!.git/HEAD


npm-debug.log
README.md
.editorconfig
.git
!.git/refs/heads/
!.git/HEAD
api/node_modules
react/node_modules
react/build
contracts/node_modules
stack
docker-dev
!.git/refs/heads/
!.git/HEAD
.circleci
.gitattributes
.gitignore
README.md
**/node_modules
Dockerfile-api
Dockerfile
newrelic_agent.log